
body
{
  font-family: Raleway,sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
}
div{
  max-width: 100%;
}
img.logo {
	display: block;
    width: 60%;

}

img.icon{
  background-color: #FFFFFF;
  width: 15%;
  margin: 0 auto;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

img.menuoptions {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse {
  text-align: center;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.linha {
    display: table;
    overflow: hidden; 
}

.linha .panel {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

#block_loading_page {
  
}